<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Próximamente: Next Muby</title>
  </head>
  <body>
    <h1>Next Muby</h1>
    <p>Deja de buscar, empieza a disfrutar.</p>
    <p>Encuentra tu próxima película o serie en segundos, sin perder horas eligiendo.</p>
    <h2>Sé de los primeros!</h2>
    <p>
      El estreno de esta aplicación está previsto para mediados de enero de
      2025. 🚀
    </p>
    <p>
      Por mientras,
      <a href="https://forms.gle/6Viq6LLRmiXtD1Cu6">déjanos tu correo</a> y te
      avisaremos cuando la lancemos.
    </p>
  </body>
</html>
